<app-json-form #jsonForm [fields]="searchFields" class="search-panel"></app-json-form>

<ng-template #center>
  <button
    (click)="grid.searchRowsData()"
    nzSize="small"
    nz-button
    nzType="primary">{{'common.search' |translate}}</button>
</ng-template>

<ng-template #left>
  <button (click)="create()" nzSize="small" nz-button nzType="primary">{{'common.create' |translate}}</button>
</ng-template>

<ng-template #buttons let-node>
  <button nz-button nzSize="small"
          nzType="primary"
          (click)="showAuthority(node.data.code)">{{'page.system.role.showAuthority' |translate}}</button>

  <button nz-button nzSize="small"
          nzType="primary"
          (click)="assignAuthority(node.data.code)">{{'page.system.role.assignAuthority' |translate}}</button>
</ng-template>


<ngx-grid-table #grid
                [topButton]="{center,left}"
                [getData]="getData"
                [rowButton]="{template:buttons}"
                (gridReady)="onGridReady($event,jsonForm)"
                [options]="gridOptions">
</ngx-grid-table>
