<nz-layout class="default-layout">
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">

      <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu$|async }"></ng-container>
      <ng-template #menuTpl let-menus>
        <ng-container *ngFor="let menu of menus">
          <li
            *ngIf="!menu.children&&menuList[menu.url]"
            nz-menu-item
            [routerLink]="menu.url"
            [nzPaddingLeft]="menu.level * 24"
            [nzDisabled]="menu.disabled"
          >
            <i nz-icon [nzType]="menuList[menu.url].icon||''" *ngIf="menuList[menu.url].icon||''"></i>
            <span>{{ menuList[menu.url].i18n |translate }}</span>
          </li>
          <li
            *ngIf="menu.children&&menuList[menu.url]"
            nz-submenu
            [nzPaddingLeft]="menu.level * 24"
            [nzOpen]="menu.open"
            [nzTitle]="menuList[menu.url].i18n |translate"
            [nzIcon]="menuList[menu.url].icon||null"
          >
            <ul>
              <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
            </ul>
          </li>
        </ng-container>
      </ng-template>
    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <div class="inner-content">

        <router-outlet></router-outlet>
      </div>
    </nz-content>

  </nz-layout>
</nz-layout>

