<app-json-form #jsonForm [fields]="searchFields" class="search-panel"></app-json-form>

<ng-template #center>
  <button
    (click)="grid.refreshRowsData()"
    nzSize="small"
    nz-button
    nzType="primary">{{'common.search' |translate}}</button>
</ng-template>

<ng-template #left>
  <button *acl="{resource:createApi}"  (click)="create()" nzSize="small" nz-button nzType="primary">{{'common.create' |translate}}</button>
</ng-template>

<ng-template #buttons let-node>
  <button style="margin-right: 5px" *acl="{resource:updateApi,method:'put'}"  (click)="update(node.data)" nzSize="small" nz-button nzType="primary">{{'common.update' |translate}}</button>
  <button  *acl="{resource:createApi,method:'delete'}"  (click)="delete(node.data.id)" nzSize="small" nz-button nzType="primary">{{'common.delete' |translate}}</button>

</ng-template>

<ngx-grid-table #grid

                [topButton]="{center,left}"
                [rowButton]="({template:buttons,first:true})"
                [getData]="getData"
                (gridReady)="onGridReady($event,jsonForm)"
                [options]="gridOptions">
</ngx-grid-table>
