<app-json-form #jsonForm [fields]="searchFields" class="search-panel"></app-json-form>

<ng-template #center>
  <button
    (click)="grid.refreshRowsData()"
    nzSize="small"
    nz-button
    nzType="primary">{{'common.search' |translate}}</button>
</ng-template>

<ng-template #left>
  <button  (click)="create()" nzSize="small" nz-button nzType="primary">{{'common.create' |translate}}</button>
</ng-template>

<ng-template #buttons let-node>
  <button  (click)="delete(node.data)" nzSize="small" nz-button nzType="primary">{{'common.delete' |translate}}</button>
</ng-template>

<ngx-grid-table #grid
                [gridTablePagination]="gridTablePagination"
                [topButton]="{center,left}"
                [rowButton]="rowButton!==undefined?rowButton:({template:buttons})"
                [getData]="getData"
                (gridReady)="onGridReady($event,jsonForm)"
                [options]="gridOptions">
</ngx-grid-table>
